<div class="container p-5">
  <div class="row">
    <div class="col-sm-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9">
      <h3>Customers</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Facebook account</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.name}}</td>
          <td>{{customer.lastname}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td><a href="https://{{customer.facebookAcc}}">{{customer.facebookAcc}}</a></td>
          <td style="text-align: center">
            <button type="button" class="btn btn-outline-dark" (click)="goToInfoCustomer(customer.customerId)">Info
            </button>
          </td>
          <td style="text-align: center">
            <button type="button" class="btn btn-outline-danger"
                    (click)="deleteCustomer(customer.customerId, customer.name, customer.lastname)">Delete
            </button>
          </td>
          <td style="text-align: center">
            <button type="button" class="btn btn-outline-primary">Orders
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div style="text-align: right">
        <button type="button" class="btn btn-success" (click)="goToAddCustomer()">Add new</button>
      </div>
    </div>
  </div>
</div>






