<div class="container p-5">
  <div class="row">
    <div class="col-sm-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9">
      <h3>Orders: {{customer.name}} {{customer.lastname}}</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Delivery</th>
          <th scope="col">Date</th>
          <th scope="col">Order Status</th>
          <th scope="col">OrderPrice</th>
          <th scope="col">Prime Cost</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of customer.orders">
          <td>{{order.description}}</td>
          <td>{{order.requiredDelivery}}</td>
          <td>{{order.orderDate}}</td>
          <td>{{order.orderStatus}}</td>
          <td>{{order.orderPrice}} eur</td>
          <td>{{order.primeCost}} eur</td>
          <td style="text-align: center">
            <button type="button" class="btn btn-outline-dark"
                    (click)="goToInfoOrder(customerId ,order.orderId)">Info
            </button>
          </td>
          <td style="text-align: center">
            <button type="button" class="btn btn-outline-success" (click)="goToBouquetsOrder(order.orderId)">Bouquets
            </button>
          </td>
          <td style="text-align: center">
            <button type="button" class="btn btn-outline-danger"
                    (click)="deleteOrder(order.orderId)">Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
