<div class="container p-5">
  <div class="row">
    <div class="col-sm-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9">
      <h3>Customers</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col">Facebook account</th>
          <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.name}}</td>
          <td>{{customer.lastname}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td><a href="https://{{customer.facebookAcc}}">{{customer.facebookAcc}}</a></td>
          <td>{{customer.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





