<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40
" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Order Management</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <button id="Orders" class="nav-link link-dark" (click)="goToOrders()">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table"></use>
        </svg>
        Orders
      </button>
    </li>
    <li>
      <button id="flowers" class="nav-link link-dark" (click)="goToFlowers()">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid"></use>
        </svg>
        Flowers
      </button>
    </li>
    <li>
      <button id="customers" class="nav-link link-dark" (click)="goToCustomers()">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Customers
      </button>
      <button id="new-order" class="nav-link link-dark" (click)="goToNewOrder()">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        New Order
      </button>
    </li>
  </ul>
  <hr>
</div>


